!!! 5
%html
  %head
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application", controller_name
    = include_gon
    %title CFBadges
  %body{ "ng-app" => "CFBadges"}
    .main
      .container
        = yield
